.user-drop-menu {
    background: #1c2237;
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}

.user-drop-menu li {
    background: #fd8b00;
    cursor: pointer;
}

.user-drop-menu li:hover {
    background: #1c2237;
    border: 1px solid #fff;
}

.user-drop-menu.clicked-one {
    display: none;
}

.user-info-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}